.cart{
    width: 100%;
    max-width: 330px;
    background-color: rgb(254, 254, 254);
    height: 100vh;
    position: fixed;
    color: black;
    top: 0;
    right: 0;
    padding: 150px 50px 20px;
}