.footer{
    background-color: rgb(226, 95, 113);
    color: white;
    padding: 3em;
    text-align: center;
}

.sociallist{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.sociallist li{
    margin: 0 1em;
}

.sociallist li:hover{
    color: black;
}

.sociallist svg{
    font-size: 1.5em;
    cursor: pointer;
}

.copyright{
    font-weight: bold;
    color: black;
    margin-top: 20px;
}